<!DOCTYPE html>
<html 	lang="en"
		xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="utf-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<title>Wallet show campaign</title>
		
		<link th:href="@{/image/favicon.png}" type="image/png" rel="icon"/>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/wallet-template.css}" rel="stylesheet"/>
    </head>
    <body>


		<nav sec:authorize="hasAuthority('ROLE_MANAGER')" class="navbar navbar-manager navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<a class="navbar-brand" href="#">Wallet show campaign</a>
        		</div>
        		<div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav navbar-right">
			           	<li>
    	  					<a th:href="@{/manager}">Done/back</a> 
						</li>		
          			</ul>
        		</div>
        	</div>
		</nav>
		
		<nav sec:authorize="hasAuthority('ROLE_ADMIN')" class="navbar navbar-admin navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<a class="navbar-brand" href="#">Wallet show campaign</a>
        		</div>
        		<div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav navbar-right">
						<li>
    	  					<a th:href="@{/admin}">Done/back</a> 
						</li> 
          			</ul>
        		</div>
        	</div>
		</nav>
		
  	<h1 th:inline="text">Hello <span sec:authentication="name"/><span sec:authentication="principal.authorities"/></h1>
            
        
		<!-- point table -->
		<table class="table">
			<tr>
				<th>user total</th>
				<th>points</th>
			</tr>
		    <tr th:each="entry : ${data1}">
	        	<td th:text="${entry.username}">1</td>
	        	<td th:text="${entry.points}">1</td>
	    	</tr>
	    	<tr th:if="${pager1.getTotalPages() == 0}">
	    		<td th:text="none">1</td>
	    	</tr>
    	</table>
    	
    	<div th:if="${pager1.getTotalPages() &gt; 1}" class="col-md-12 text-center">
	   		<div class="pagination pagination-centered">
				<ul class="pagination">
					<li th:class="${current1==1}?'disable':''">
						<span th:if='${current1==1}'>First</span>
						<a th:if='${current1!=1}' th:href="@{/showcampaign/{id}/1/{number2}(id=${id},number2=${current2})}">First</a>
					</li>
					<li th:class="${current1!=1}?'':'disable'">
						<span th:if='${current1==1}'>&larr;</span>
						<a th:if='${current1!=1}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${current1-1},number2=${current2})}" title='Go to previous page'>&larr;</a>
					</li>
					<li	th:each="item : ${#numbers.sequence(pager1.getStartPage(), pager1.getEndPage())}" th:class="${item==current1?'active':''}">
						<span th:if='${item==current1}' th:text="${item}">1</span>
						<a th:if='${item!=current1}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${item},number2=${current2})}">
							<span th:text="${item}">1</span>
						</a>
					</li>
					<li th:class="${current1!=pager1.getTotalPages()}?'':'disable'">
						<span th:if='${current1==pager1.getTotalPages()}'>&rarr;</span>
						<a th:if='${current1!=pager1.getTotalPages()}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${current1+1},number2=${current2})}" title='Go to next page'>&rarr;</a>
					</li>
					<li th:class="${current1==pager1.getTotalPages()}?'disable':''">
						<span th:if='${current1==pager1.getTotalPages()}'>Last</span>
						<a th:if='${current1!=pager1.getTotalPages()}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${pager1.getTotalPages()},number2=${current2})}">Last</a>
					</li>
				</ul>
				</div>
		</div>
    	
	  
		
		<!-- point table -->
		<table class="table">
			<tr>
				<th>user 7 days</th>
				<th>point</th>
			</tr>
		    <tr th:each="entry : ${data2}">
	        	<td th:text="${entry.username}">1</td>
	        	<td th:text="${entry.points}">1</td>
	    	</tr>
	    	<tr th:if="${pager2.getTotalPages() == 0}">
	    		<td th:text="none">1</td>
	    	</tr>
    	</table>
	   	<div th:if="${pager2.getTotalPages() &gt; 1}" class="col-md-12 text-center">
	   		<div class="pagination pagination-centered">
				<ul class="pagination">
					<li th:class="${current2==1}?'disable':''">
						<span th:if='${current2==1}'>First</span>
						<a th:if='${current2!=1}' th:href="@{/showcampaign/{id}/{number1}/1(id=${id},number1=${current1})}">First</a>
					</li>
					<li th:class="${current2!=1}?'':'disable'">
						<span th:if='${current2==1}'>&larr;</span>
						<a th:if='${current2!=1}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${current1},number2=${current2-1})}" title='Go to previous page'>&larr;</a>
					</li>
					<li	th:each="item : ${#numbers.sequence(pager2.getStartPage(), pager2.getEndPage())}" th:class="${item==current2?'active':''}">
						<span th:if='${item==current2}' th:text="${item}">1</span>
						<a th:if='${item!=current2}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${current1},number2=${item})}">
							<span th:text="${item}">1</span>
						</a>
					</li>
					<li th:class="${current2!=pager2.getTotalPages()}?'':'disable'">
						<span th:if='${current2==pager2.getTotalPages()}'>&rarr;</span>
						<a th:if='${current2!=pager2.getTotalPages()}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${current1},number2=${current2+1})}" title='Go to next page'>&rarr;</a>
					</li>
					<li th:class="${current2==pager2.getTotalPages()}?'disable':''">
						<span th:if='${current2==pager2.getTotalPages()}'>Last</span>
						<a th:if='${current2!=pager2.getTotalPages()}' th:href="@{/showcampaign/{id}/{number1}/{number2}(id=${id},number1=${current1},number2=${pager2.getTotalPages()})}">Last</a>
					</li>
				</ul>
				</div>
		</div>
		

		<p>campaign name: <span th:text="${campaign.name}">0</span></p>	
		<p>ecosystema name: <span th:text="${campaign.ecosystem.name}">0</span></p>
		<p>Howmany: <span th:text="${campaign.howmany}"/></p>
		<p>Rate: <span th:text="${campaign.rate}"/></p>
		<p>StartDate: <span th:text="${campaign.startDate}"/></p>
		<p>EndDate: <span th:text="${campaign.endDate}"/></p>
		<table class="table">
			<tr>
				<th>Prizes_name</th>
				<th>Prizes_value</th>
			</tr>
		    <tr th:each="prize: ${campaign.prizes}">
	        	<td>
	        		<span th:text="${prize.name}"/>
	        	</td>
	        	<td>
	        		<span th:text="${prize.value}"/>
	        	</td>
	    	</tr>
	    	<tr th:if="${campaign.prizes.empty}">
	    		<td th:text="none">1</td>
	    	</tr>
    		</table>
		
	</body>
</html>